body {
    text-align: center;
}

#now-playing-track {
    margin: 20px auto;
    max-width: 750px;
    text-align: left;
}

.card-container {
    display: flex;
    height: 300;
}

.card-img img {
    width: 200px;
    height: 200px;
}

.card-text {
    width: 100%;
    margin: 20px 20px 20px 30px;
}

.resume-and-pause {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#resume,
#pause {
    display: none;
}

.video_play {
    display: inline-block;
    position: relative;
    width: 1em;
    height: 1em;
    border: 0.05em solid currentColor;
    border-radius: 50%;
    color: #000;
    font-size: 100px;
    margin-right: 10px;
}

.video_play::before {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateY(-50%);
    width: 0px;
    height: 0px;
    border: 0.3em solid transparent;
    border-left: 0.5em solid currentColor;
    box-sizing: border-box;
    content: "";
}

.video_play:hover {
    cursor: pointer;
    opacity: .7;
}

.video_pause {
    display: inline-block;
    position: relative;
    width: 1em;
    height: 1em;
    border: 0.05em solid currentColor;
    border-radius: 50%;
    color: #000;
    font-size: 100px;
    margin-right: 10px;
}

.video_pause::before,
.video_pause::after {
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 0.1em;
    height: 0.5em;
    box-sizing: border-box;
    background-color: currentColor;
    content: "";
}

.video_pause::before {
    left: 40%;
}

.video_pause::after {
    left: 60%;
}

.video_pause:hover {
    cursor: pointer;
    opacity: .7;
}

.skip-next {
    display: inline-block;
    position: relative;
    width: 1em;
    height: 1em;
    color: #000;
    font-size: 100px;
}

.skip-next::before {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateY(-50%);
    width: 0px;
    height: 0px;
    border: 0.3em solid transparent;
    border-left: 0.5em solid currentColor;
    box-sizing: border-box;
    content: "";
}

.skip-next::after {
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 0.1em;
    height: 0.6em;
    box-sizing: border-box;
    background-color: currentColor;
    content: "";
    left: 80%;
}

.skip-next:hover {
    cursor: pointer;
    opacity: .7;
}

.skip-pre {
    display: inline-block;
    position: relative;
    width: 1em;
    height: 1em;
    color: #000;
    font-size: 100px;
    margin-right: 10px;
}

.skip-pre::before {
    position: absolute;
    top: 50%;
    right: 30%;
    transform: translateY(-50%);
    width: 0px;
    height: 0px;
    border: 0.3em solid transparent;
    border-right: 0.5em solid currentColor;
    box-sizing: border-box;
    content: "";
}

.skip-pre::after {
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 0.1em;
    height: 0.6em;
    box-sizing: border-box;
    background-color: currentColor;
    content: "";
    left: 20%;
}

.skip-pre:hover {
    cursor: pointer;
    opacity: .7;
}

#skip-pre,
#skip-next {
    display: none;
}