<!doctype html>
<html>

<head>
    <title>spotify-share-for-drive</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
    <div class="container">
        <div id="login">
            <h1>spotify-share-for-drive</h1>
            <a href="/login" class="btn btn-primary">Log in with Spotify for creating a room</a>
        </div>
    </div>
</body>

</html>