<!doctype html>
<html>

<head>
    <title>groovyeasy</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
    <div class="container">
        <h1>GroovyEasy</h1>
        <div id="login">
            <a href="/login" class="btn btn-primary">Login Spotify</a>
        </div>
        <div class="app_description">
            <h2>About GroovyEasy</h2>
            <p>Spotifyを複数人で共有して操作可能なWebアプリ</p>
            <ul>
                <li>ドライブなどの時に、一つのスマートフォンを使いまわしたり、そのスマートフォンの操作をしている人に操作をお願いしなくて済む</li>
                <li>それぞれのスマートフォンから、音楽の停止・再生、次に再生への追加、検索などが可能</li>
                <li>Spotifyのプレミアムプランに契約している1人がログインするだけでよい。その他の人はSpotifyのアカウントを持っていなくてよい</li>
                <li>アプリログイン後、リンクを共有することで使用可能</li>
            </ul>
        </div>
    </div>
</body>

</html>