<!doctype html>
<html>

<head>
    <title>groovyeasy</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/header.css') }}">
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/now-playing.css') }}">
</head>

<body>
    {% include "header.html" %}

    <div class="container">
        <div id="loggedin">
            <h1>Currently playing track</h1>
            <div id="now-playing-track" class="card-container">
                <div class="card-img" id="song-img">
                </div>
                <div class="card-text" id="song-info">
                    <div id="song-name">
                    </div>
                    <div id="artists-name">
                    </div>
                </div>
            </div>

            <div class="resume-and-pause">
                <div id="skip-pre">
                    <div class="skip-pre" id="skip-pre-btn"></div>
                </div>
                <div id="resume">
                    <div class="video_play" id="resume-btn"></div>
                </div>
                <div id="pause">
                    <div class="video_pause" id="pause-btn"></div>
                </div>
                <div id="skip-next">
                    <div class="skip-next" id="skip-next-btn"></div>
                </div>
            </div>
        </div>
    </div>

    <script type=text/javascript src="{{ url_for('static', filename='js/now-playing.js') }}"></script>
</body>

</html>